{  
  "extends": [  
    "eslint:recommended",
    "airbnb",  
    "standard",
    "standard-react"
  ],
  "env": {  
    "es6": true,
    "jest": true
  },  
 "settings": {  
   "react": {  
     "pragma": "React",  
     "version": "16.0"  
   }  
 },  
  "rules": {  
    "indent": ["error", 2],  
    "id-length": 0,  
    "react/jsx-indent": [2],  
    "react/jsx-indent-props": [2],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}